// color
$c-primary: #466BB2;
$c-title: #333333;
$c-danger: #F56C6C;
$c-success: #50E3C2;
$c-border: #EBEBEC;
$c-bg: #F2F2F2;
$c-home-label-txt: #8D84A2;
$c-yellow: #FFD404;

$c-input-placeholder: #CCCCCC;

$c-btn-puprle-blue: linear-gradient(320deg, #455AFB 0%, #455AFB 10%, #7f5af4 100%);

$headerHeight: 60px;
$mHeaderHeight: 60px;

// font-family
$fa-medium: PingFangSC-Medium;
$fa-semibold: PingFangSC-Semibold;
$fa-regular: PingFangSC-Regular;
// $fa-din: DIN-Condensed;
$fa-default: "PingFang SC","Source Han Sans CN","Microsoft YaHei",SimSun;
// $fa-default: STSongti-SC-Regular,STSongti-SC;

$n-space: 12px;
